/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/portfolio/[category]/page.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__Sm4Eg {
}
.page_catTitle__KJKwc {
  color: #53c28b;
}

.page_item__0F4n2{
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.page_item__0F4n2:nth-child(2n+1){
  flex-direction: row-reverse;
}

.page_imgContainer__dUbkz{
  flex:1 1;
  height: 500px;
  position: relative;
}

.page_img__t7AKo{
  object-fit: cover;
}

.page_content__Raana{
  flex:1 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.page_title__s5xJg{
  font-size: 50px;
}

.page_desc__Clpat{
  font-size: 20px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/components/Button/button.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.button_container__TMr7g {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}

